<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>GIF GIF GIF</h1>
    <hr>

    <div class="container align-middle">
        {{{ body }}}
    </div>   
</body>
</html>