
<div class="container align-middle">
    <form action="/searchGIF" method="get">
        <div class="row">
            <input type="text" name="searchDesc" size="50" placeholder="Search GIF">
        </div>
        <div class="row">
            <button class="button" style="background-color: rgb(111, 180, 111)" type="submit">SEARCH GIPHY</button>
        </div>
    </form>
</div>